<app-toolbar [title]="'Toolbar'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>

<main>
  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Accordion'"
    [subTitle]="'Component'"
  >
  <app-accordion body [items]="accordionItems"></app-accordion>
  </app-card>
</main>

<app-card
  [iconClasses]="'fas fa-info-circle'"
  [title]="'Card'"
  [subTitle]="'Component'"
>
  <p body>Body Content</p>
  <p footer>Footer Content</p>
</app-card>
